html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Arial, Helvetica, sans-serif"; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  font-size: 12px; }

i, em {
  font-style: normal; }

img, input {
  display: block;
  border: 0;
  outline: none; }

.clearfix:after {
  content: ".";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

#hd_header {
  height: 28px;
  background: #f5f5f5;
  line-height: 28px;
  border: 1px solid #ddd; }
  #hd_header .hd_head {
    width: 1200px;
    font-size: 12px;
    margin: 0 auto; }
    #hd_header .hd_head .hd_headL {
      width: 714px;
      float: left; }
      #hd_header .hd_head .hd_headL li {
        float: left; }
      #hd_header .hd_head .hd_headL li:first-child {
        color: #ff0033;
        margin-right: 20px; }
    #hd_header .hd_head .hd_headR {
      width: 484px;
      float: left; }
      #hd_header .hd_head .hd_headR div, #hd_header .hd_head .hd_headR ul {
        float: left; }
      #hd_header .hd_head .hd_headR ul {
        margin-left: 16px; }
        #hd_header .hd_head .hd_headR ul li {
          float: left;
          margin-right: 8px;
          color: #565656; }
          #hd_header .hd_head .hd_headR ul li:hover {
            color: #c70a28; }
        #hd_header .hd_head .hd_headR ul .li {
          color: #c70a28; }
      #hd_header .hd_head .hd_headR .hd_xl {
        margin-left: 20px; }
        #hd_header .hd_head .hd_headR .hd_xl s {
          display: inline-block;
          width: 12px;
          height: 10px;
          background: url(../img/icon.png) no-repeat -32px -28px; }
        #hd_header .hd_head .hd_headR .hd_xl:hover {
          color: #c70a28; }
      #hd_header .hd_head .hd_headR #wzdh {
        width: 1200px;
        font-size: 12px;
        margin: 0 auto;
        height: 150px;
        background: #fff;
        position: absolute;
        left: 39px;
        top: 28px;
        border: 2px solid #e5e5e5;
        padding: 7px 0;
        display: none;
        z-index: 99; }
        #hd_header .hd_head .hd_headR #wzdh #dh1, #hd_header .hd_head .hd_headR #wzdh #dh2, #hd_header .hd_head .hd_headR #wzdh #dh3, #hd_header .hd_head .hd_headR #wzdh #dh4, #hd_header .hd_head .hd_headR #wzdh #dh5 {
          float: left;
          height: 148px;
          margin: 0px 0 0 35px;
          border-right: 1px solid #e5e5e5; }
          #hd_header .hd_head .hd_headR #wzdh #dh1 h2, #hd_header .hd_head .hd_headR #wzdh #dh2 h2, #hd_header .hd_head .hd_headR #wzdh #dh3 h2, #hd_header .hd_head .hd_headR #wzdh #dh4 h2, #hd_header .hd_head .hd_headR #wzdh #dh5 h2 {
            height: 26px;
            margin-top: 4px;
            font-size: 16px;
            font-weight: 900; }
        #hd_header .hd_head .hd_headR #wzdh #dh1 {
          width: 180px; }
          #hd_header .hd_head .hd_headR #wzdh #dh1 h2 {
            color: #f66b03; }
          #hd_header .hd_head .hd_headR #wzdh #dh1 a {
            display: inline-block;
            width: 48px;
            height: 22px;
            margin-top: 4px;
            color: #666;
            margin-right: 40px;
            float: left; }
            #hd_header .hd_head .hd_headR #wzdh #dh1 a:hover {
              text-decoration: underline;
              color: #f66b03; }
        #hd_header .hd_head .hd_headR #wzdh #dh2 {
          width: 298px; }
          #hd_header .hd_head .hd_headR #wzdh #dh2 h2 {
            color: #ec0736; }
          #hd_header .hd_head .hd_headR #wzdh #dh2 a {
            float: left;
            display: inline-block;
            width: 112px;
            height: 22px;
            margin-top: 4px;
            color: #666;
            float: left;
            margin-right: 36px; }
            #hd_header .hd_head .hd_headR #wzdh #dh2 a:hover {
              text-decoration: underline;
              color: #ec0736; }
        #hd_header .hd_head .hd_headR #wzdh #dh3 {
          width: 179px; }
          #hd_header .hd_head .hd_headR #wzdh #dh3 h2 {
            color: #2263d4; }
          #hd_header .hd_head .hd_headR #wzdh #dh3 a {
            display: inline-block;
            width: 110px;
            height: 22px;
            margin-top: 4px;
            color: #666;
            float: left; }
            #hd_header .hd_head .hd_headR #wzdh #dh3 a:hover {
              text-decoration: underline;
              color: #2263d4; }
        #hd_header .hd_head .hd_headR #wzdh #dh4 {
          width: 180px; }
          #hd_header .hd_head .hd_headR #wzdh #dh4 h2 {
            color: #5e8e3d; }
          #hd_header .hd_head .hd_headR #wzdh #dh4 a {
            display: inline-block;
            width: 110px;
            height: 22px;
            margin-top: 4px;
            color: #666;
            float: left; }
            #hd_header .hd_head .hd_headR #wzdh #dh4 a:hover {
              text-decoration: underline;
              color: #5e8e3d; }
        #hd_header .hd_head .hd_headR #wzdh #dh5 {
          width: 184px;
          border-right: 0; }
          #hd_header .hd_head .hd_headR #wzdh #dh5 h2 {
            color: #686868; }
          #hd_header .hd_head .hd_headR #wzdh #dh5 a {
            display: inline-block;
            width: 48px;
            height: 22px;
            margin-top: 4px;
            color: #666;
            float: left;
            margin-right: 28px; }
            #hd_header .hd_head .hd_headR #wzdh #dh5 a:hover {
              text-decoration: underline;
              color: #686868; }

.hd_logo {
  width: 1200px;
  font-size: 12px;
  margin: 0 auto;
  height: 135px; }
  .hd_logo .hd_logoL {
    width: 400px;
    float: left; }
  .hd_logo .hd_logoC {
    width: 495px;
    float: left; }
    .hd_logo .hd_logoC form {
      width: 491px;
      height: 32px;
      margin-top: 30px;
      border: 2px solid #c70a28; }
      .hd_logo .hd_logoC form input {
        float: left; }
      .hd_logo .hd_logoC form #comTxt {
        width: 400px;
        height: 28px;
        color: #c70a28; }
      .hd_logo .hd_logoC form #comBtn {
        width: 87px;
        height: 28px;
        background: #c70a28;
        color: #fff; }
    .hd_logo .hd_logoC .formlist {
      width: 490px;
      height: 16px;
      margin-top: 12px; }
      .hd_logo .hd_logoC .formlist li {
        float: left;
        color: #666; }
        .hd_logo .hd_logoC .formlist li a {
          color: #666;
          margin-left: 5px;
          margin-right: 5px; }
        .hd_logo .hd_logoC .formlist li a:first-child {
          margin-left: 2px; }
  .hd_logo .hd_logoR {
    width: 96px;
    height: 120px;
    float: left;
    margin-left: 170px;
    margin-top: 15px; }
    .hd_logo .hd_logoR span {
      color: #c70a28;
      font-weight: 900; }

.hd_banTop {
  width: 1200px;
  font-size: 12px;
  margin: 0 auto;
  height: 36px;
  font-size: 14px; }
  .hd_banTop .hd_banTopL {
    float: left;
    width: 1020px; }
    .hd_banTop .hd_banTopL p {
      float: left;
      height: 36px;
      line-height: 36px;
      padding-left: 16px;
      padding-right: 16px;
      font-weight: 900;
      font-size: 14px;
      cursor: pointer; }
    .hd_banTop .hd_banTopL p:hover {
      color: #fe0032; }
    .hd_banTop .hd_banTopL p:first-child {
      padding-left: 50px;
      padding-right: 50px;
      height: 36px;
      line-height: 36px;
      background: #c70a28;
      color: #fff;
      width: 190px;
      position: relative; }
  .hd_banTop .hd_banTopR_ul {
    width: 190px;
    height: 456px;
    background: #e3e3e3;
    position: absolute;
    left: 33px;
    top: 201px;
    display: none;
    z-index: 100; }
    .hd_banTop .hd_banTopR_ul li {
      position: relative;
      width: 190px;
      height: 65px;
      border-bottom: 1px dashed #dadbdc;
      padding: 12px 13px; }
      .hd_banTop .hd_banTopR_ul li h5 {
        font-size: 14px;
        font-weight: 900; }
        .hd_banTop .hd_banTopR_ul li h5 i {
          display: inline-block;
          width: 18px;
          height: 18px;
          float: left;
          margin: 1px 5px 0 0; }
          .hd_banTop .hd_banTopR_ul li h5 i img:last-child {
            display: none; }
      .hd_banTop .hd_banTopR_ul li a {
        font-size: 12px;
        color: #555;
        line-height: 12px; }
      .hd_banTop .hd_banTopR_ul li span {
        display: inline-block;
        width: 10px;
        height: 10px;
        position: absolute;
        right: 8px;
        top: 17px;
        color: #777;
        background: url(../img/leftjt.png) no-repeat; }
    .hd_banTop .hd_banTopR_ul #ej {
      width: 200px;
      height: 450px;
      position: absolute;
      left: 190px;
      top: 5px;
      background: #fbfcfd;
      display: none; }
      .hd_banTop .hd_banTopR_ul #ej #eja {
        width: 70px;
        height: 423px;
        float: left; }
        .hd_banTop .hd_banTopR_ul #ej #eja a {
          float: left;
          margin: 10px 0 10px 0; }
      .hd_banTop .hd_banTopR_ul #ej #ejb {
        width: 70px;
        height: 235px;
        margin-left: 20px;
        float: left; }
        .hd_banTop .hd_banTopR_ul #ej #ejb a {
          float: left;
          margin: 10px 0 10px 0; }
    .hd_banTop .hd_banTopR_ul #ej5 {
      width: 400px;
      height: 450px;
      position: absolute;
      left: 190px;
      top: 5px;
      background: pink; }
      .hd_banTop .hd_banTopR_ul #ej5 #ejs, .hd_banTop .hd_banTopR_ul #ej5 #ejz, .hd_banTop .hd_banTopR_ul #ej5 #ejx {
        width: 380px;
        height: auto; }
        .hd_banTop .hd_banTopR_ul #ej5 #ejs h4, .hd_banTop .hd_banTopR_ul #ej5 #ejz h4, .hd_banTop .hd_banTopR_ul #ej5 #ejx h4 {
          font-weight: 900;
          font-size: 14px; }
        .hd_banTop .hd_banTopR_ul #ej5 #ejs div a, .hd_banTop .hd_banTopR_ul #ej5 #ejz div a, .hd_banTop .hd_banTopR_ul #ej5 #ejx div a {
          color: "";
          padding: 0 8px;
          margin-top: 3px;
          float: left; }
  .hd_banTop .hd_banTopR {
    float: left;
    height: 36px;
    line-height: 36px; }
    .hd_banTop .hd_banTopR li {
      float: left;
      font-weight: 900;
      padding-right: 30px;
      cursor: pointer; }
    .hd_banTop .hd_banTopR li:hover {
      color: #fe0032; }
    .hd_banTop .hd_banTopR li:first-child {
      background: url(../img/sjt.png) no-repeat 58px 18px; }

#hd_footerH {
  height: 150px;
  background: #fafafa; }
  #hd_footerH .hd_footerH {
    width: 1130px;
    font-size: 12px;
    margin: 0 auto;
    height: 100px;
    padding-top: 50px;
    padding-left: 70px; }
    #hd_footerH .hd_footerH ul {
      float: left;
      margin-right: 145px; }
      #hd_footerH .hd_footerH ul li {
        line-height: 20px; }
    #hd_footerH .hd_footerH ul:last-child {
      margin-right: 0; }

#hd_footerNull {
  width: 100%;
  font-size: 12px;
  margin: 0 auto;
  height: 130px; }

#hd_footerlist {
  width: 100%;
  font-size: 12px;
  margin: 0 auto;
  height: 30px;
  background: #393939; }
  #hd_footerlist .hd_footerlist {
    width: 612px;
    font-size: 12px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    color: #fff; }
    #hd_footerlist .hd_footerlist li {
      float: left; }
      #hd_footerlist .hd_footerlist li a {
        color: #fff;
        margin-left: 20px;
        margin-right: 20px; }

.hd_footerPlic {
  width: 1100px;
  font-size: 12px;
  margin: 0 auto;
  background: #fff;
  height: 40px;
  margin-top: 18px;
  padding-left: 100px; }
  .hd_footerPlic dl {
    float: left;
    margin-right: 5px; }
    .hd_footerPlic dl dt {
      float: left; }
    .hd_footerPlic dl dd {
      float: left; }
    .hd_footerPlic dl .ddTop {
      height: 30px;
      margin-top: 10px; }
    .hd_footerPlic dl .ddColor {
      color: #939393; }

.hd_footerBuss {
  width: 320px;
  font-size: 12px;
  margin: 0 auto;
  height: 54px; }
  .hd_footerBuss img {
    width: 114px;
    height: 38px;
    border: 1px solid #dbdbdb;
    float: left; }
  .hd_footerBuss img:nth-child(2) {
    width: 110px;
    margin: 0 10px; }
  .hd_footerBuss img:last-child {
    width: 74px;
    height: 40px; }

.hd_friendlist {
  width: 1200px;
  font-size: 12px;
  margin: 0 auto;
  height: 30px;
  margin-top: 5px; }
  .hd_friendlist span {
    width: 60px;
    height: 20px;
    font-weight: 900;
    margin-right: 8px; }
  .hd_friendlist #friendLink {
    width: 1140px;
    height: 30px;
    position: relative;
    left: 60px;
    bottom: 15px;
    overflow: hidden; }
    .hd_friendlist #friendLink .footer_scroll {
      width: 1200px;
      height: 30px;
      position: absolute; }
      .hd_friendlist #friendLink .footer_scroll li {
        max-width: 72px;
        height: 30px;
        float: left;
        margin-right: 10px; }

#hd_detail {
  width: 1200px;
  font-size: 12px;
  margin: 0 auto;
  height: auto; }
  #hd_detail #detailL {
    width: 180px;
    height: 1309px;
    margin-right: 15px;
    margin-top: 30px;
    float: left; }
    #hd_detail #detailL #detailLT {
      width: 180px;
      border: 1px solid #ddd; }
      #hd_detail #detailL #detailLT dl {
        height: 39px;
        overflow: hidden;
        text-indent: 8px;
        color: #333;
        line-height: 30px; }
        #hd_detail #detailL #detailLT dl dt {
          font-weight: 900;
          border-bottom: 1px solid #ddd;
          padding-top: 8px;
          margin-bottom: 8px;
          position: relative;
          cursor: pointer; }
          #hd_detail #detailL #detailLT dl dt a {
            color: #333;
            font-size: 14px; }
          #hd_detail #detailL #detailLT dl dt i {
            width: 5px;
            height: 8px;
            background: url(../img/tri.png) no-repeat -2px -6px;
            position: absolute;
            right: 11px;
            top: 18px; }
        #hd_detail #detailL #detailLT dl dd h3 {
          width: 108px;
          height: 26px;
          background: url(../img/plus.png) no-repeat 10px center;
          padding-left: 20px;
          cursor: pointer; }
          #hd_detail #detailL #detailLT dl dd h3 a {
            color: #333; }
        #hd_detail #detailL #detailLT dl dd ul {
          width: 180px; }
          #hd_detail #detailL #detailLT dl dd ul li {
            line-height: 26px; }
            #hd_detail #detailL #detailLT dl dd ul li a {
              color: #666; }
            #hd_detail #detailL #detailLT dl dd ul li span {
              color: #999;
              padding-left: 4px; }
    #hd_detail #detailL #detail_hotT {
      width: 180px;
      height: 25px;
      background: #333;
      line-height: 25px;
      font-size: 14px;
      text-indent: 5px;
      color: #fff;
      margin-top: 10px;
      margin-bottom: 10px; }
    #hd_detail #detailL #detail_hotlist {
      width: 178px;
      height: 712px;
      border: 1px solid #ddd; }
      #hd_detail #detailL #detail_hotlist dl {
        width: 178px;
        height: 238px;
        padding: 8px 8px; }
        #hd_detail #detailL #detail_hotlist dl img {
          width: 162px;
          height: 162px; }
        #hd_detail #detailL #detail_hotlist dl dd p:first-child {
          width: 162px;
          height: 25px;
          font-size: 14px; }
          #hd_detail #detailL #detail_hotlist dl dd p:first-child span {
            color: #c80a28;
            font-size: 14px;
            line-height: 25px;
            float: left; }
          #hd_detail #detailL #detail_hotlist dl dd p:first-child a {
            line-height: 25px;
            float: right;
            color: #666; }
            #hd_detail #detailL #detail_hotlist dl dd p:first-child a i {
              color: #c80a28;
              font-size: 12px; }
        #hd_detail #detailL #detail_hotlist dl dd p:last-child {
          width: 90px;
          height: 30px;
          line-height: 16px;
          overflow: hidden; }
  #hd_detail #detailR {
    float: right; }
    #hd_detail #detailR #detailRT {
      width: 1000px;
      height: 26px;
      margin: 30px 0 20px; }
      #hd_detail #detailR #detailRT code {
        margin: 0 5px; }
    #hd_detail #detailR #detailRM {
      width: 1000px;
      height: 30px;
      border: 1px solid #ddd; }
      #hd_detail #detailR #detailRM li {
        width: 80px;
        line-height: 30px;
        text-align: center;
        border-right: 1px solid #ddd;
        float: left; }
      #hd_detail #detailR #detailRM #rr {
        width: 200px;
        height: 30px;
        line-height: 30px;
        float: right;
        color: #666; }
        #hd_detail #detailR #detailRM #rr span {
          margin-right: 8px; }
        #hd_detail #detailR #detailRM #rr .arr {
          border: 1px solid #ddd;
          font-weight: 900;
          margin-right: 5px;
          padding: 1px 1px 0; }
          #hd_detail #detailR #detailRM #rr .arr:hover {
            background: #e9e9e9; }
    #hd_detail #detailR #detailRF {
      width: 1000px;
      padding-top: 10px; }
      #hd_detail #detailR #detailRF #detailRF_wrap {
        width: 1030px;
        height: auto; }
        #hd_detail #detailR #detailRF #detailRF_wrap .detail_product {
          width: 240px;
          height: 360px;
          position: relative;
          float: left;
          line-height: 1.5;
          z-index: 1;
          margin: 0 13px 20px 0; }
          #hd_detail #detailR #detailRF #detailRF_wrap .detail_product .detail_product_wrap {
            padding-bottom: 0;
            width: 222px; }

/*# sourceMappingURL=hd_detail.css.map */
