@charset "UTF-8";
.demo-image{
    width: 100%;
}
.M-box,.M-box1,.M-box2,.M-box3,.M-box4{
	position: relative;
    text-align: center;
  	zoom: 1;
}
.M-box:before,.M-box:after,.M-box1:before,.M-box1:after ,.M-box2:before,.M-box2:after ,.M-box3:before,.M-box3:after,.M-box4:before,.M-box4:after{
    content:"";
    display:table;
}
.M-box:after,.M-box1:after,.M-box2:after,.M-box3:after,.M-box4:after{
	clear:both;
	overflow:hidden;
}
.M-box span,.M-box1 span,.M-box2 span,.M-box3 span,.M-box4 span{
	float: left;
	margin:0 5px;
	width: 38px;
    height: 38px;
    line-height: 38px;
    color: #bdbdbd;
    font-size: 12px;
}
.M-box .active,.M-box1 .active,.M-box2 .active,.M-box3 .active,.M-box4 .active{
	float: left;
	margin:0 5px;
	width: 38px;
    height: 38px;
    line-height: 38px;
    /*background: #e91e63;*/
    background: #eee;
    /*color: #fff;*/
    color: #888;
    font-weight:900;
    font-size: 12px;
    /*border: 1px solid #e91e63;*/
    border: 1px solid #eee;
}
.M-box a,.M-box1 a,.M-box2 a,.M-box3 a,.M-box4 a{
	float: left;
	margin:0 5px;
	width: 38px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    border: 1px solid #ebebeb;
    /*color: #bdbdbd;*/
    color: #888;
    font-size: 12px;
}
.M-box a:click,.M-box1 a:click,.M-box2 a:click,.M-box3 a:click,.M-box4 a:click{
	color:#888;
    background: #eee;
}
.M-box .next,.M-box .prev,.M-box1 .next,.M-box1 .prev{
	font-family: "Simsun";
    font-size: 12px;
    font-weight: bold;
}
.now,.count{
	padding:0 5px;
	color:#f00;
}
.eg img{
	max-width: 800px;
	min-height: 500px;
}
input{
    float: left;
    margin:0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: 12px;
}


.M-box a.prev,.M-box a.next{
	width:63px;
	background:#eee;
}
